$primaryText: #ffffff;
//change to opacity val of primary
$secondaryText: #cecece;
$backgroundColor: #232228;
$headerColor: #2b2a30;

body {
    margin: 0px;
    background-color: $backgroundColor;
}

header {
    padding: 2px 0;
    background-color: $headerColor;
    color: $primaryText;
    text-align: center;
}

.cardstyle {
    background-color: $headerColor;
}

#contact-list {
    margin-top: 60px;
    text-align: center;
    
    .md-fab {
        margin: 10px 30px;
    }
}

#name-cv {
    margin-top: 50px;
}

.card-img-holder {
    max-height: 400px;
    max-width: 700px;
}


//angular material override
md-tabs .md-tab[disabled], md-tabs .md-tab[disabled] md-icon {
  color: $secondaryText !important;
}

md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-active, md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-active md-icon, md-tabs.md-accent > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-active md-icon, md-tabs.md-default-theme.md-accent > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-focused, md-tabs.md-default-theme.md-accent > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-focused md-icon {
  color: $primaryText !important;
}

md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]) {
  color: $secondaryText !important;
}